@page
@model MyEF2.WebApp.Pages.Administration.Menus.IndexModel
@{
	ViewData["Title"] = "Menus";
}



<div class="col-md-12" style="text-align: left;">
	<a href="/Administration/Menus/Menu" class="btn btn-success">Create</a>

</div>
<br>
<br>
<div class="col-md-12">
	<div class="card">
		<div class="card-header">
			<h3 class="card-title">Menus</h3>
		</div>
		<!-- /.card-header -->
		<div class="card-body">
			<table class="table table-bordered table-striped" id=tblMenus>
				<thead>
					<tr>
						<th>Menu</th>
						<th>Url</th>
						<th>Order</th>
						<th>Icon</th>
						<th>Action</th>
					</tr>

				</thead>
				<tbody>
					@if (Model.Menus != null)
					{
						foreach (var menu in Model.Menus)
						{
							<tr>
								<td><a asp-page="Menu" asp-route-id="@menu.Id">@menu.Name</a></td>
								<td><a asp-page="Menu" asp-route-id="@menu.Id">@menu.Url</a></td>
								<td><a asp-page="Menu" asp-route-id="@menu.Id">@menu.Order</a></td>
								<td><a asp-page="Menu" asp-route-id="@menu.Id">@menu.Icon</a></td>
								<td>
									<a title="Edit" asp-page="Menu" asp-route-id="@menu.Id"><i class="fas fa-edit"></i></a>

								</td>
							</tr>
						}
					}
				</tbody>
			</table>
		</div>
	</div>

</div>


@section PageScripts
{

	<script>
		$(function () {
			$("#tblMenus").DataTable({
				"responsive": true, "lengthChange": false, "autoWidth": true,
				
			});
		});
	</script>
}